{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Post {% endblock %}</h1>

    <form method="POST" action="/add_post">
        {{ form.csrf_token }}
        <p>
            {{ form.title.label }}
            {{ form.title(size=20) }}
        </p>

        {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.content.label }}
        </p>
        {{ form.content(rows=10, cols=50) }}

        {% if form.content.errors %}
            <ul class="errors">
                {% for error in form.content.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        <p>
            {{ form.submit_button() }}
        </p>

        {% if form.submit_button.errors %}
            <ul class="errors">
                {% for error in form.submit_button.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </form>

{% endblock %}